footer {
    background-color: #cdd9e9;
    padding: 10px ;
    color: #fff;
  }
  footer h1 {
    margin-bottom: 30px;
    color: #96b5da;
    font-weight: 800;
    font-style: italic;
  }
  
  footer p {
    color: #00050a;
    font-size: 14px;
    font-weight: 300;
    opacity: 0.5;
    margin-bottom: 20px;
  }
  footer h2 {
    color: #00050a;
    margin-bottom: 20px;
  }
  footer li {
    color: #00050a;
    margin-bottom: 10px;
    opacity: 0.5;
  }
